<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="SaovietCheckInEntities" connectionString="metadata=res://*/Entities.SaovietCheckInEntity.csdl|res://*/Entities.SaovietCheckInEntity.ssdl|res://*/Entities.SaovietCheckInEntity.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=SV-QC;Initial Catalog=SaoVietCheckIn;Persist Security Info=True;User ID=sa;Password=sa@123456;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>